<div class="row">
  <div class="col-xs-6 offset-xs-3">
    <h1>Login</h1>

    <hr />

    {{#if error}}
      <div class="alert alert-danger" role="alert">
        <strong>{{error.message}}</strong>
      </div>
    {{/if}}

    <form action="/login" method="POST">
      <div class="form-group">
        <label for="user-email">Email</label>
        <input type="email" id="user-email" name="email" class="form-control" required />
      </div>

      <div class="form-group">
        <label for="user-password">Password</label>
        <input type="password" id="user-password" name="password" class="form-control" required />
      </div>

      <div class="form-group">
        <div class="row">
          <div class="col-xs-6">
            <a href="/forgot-password" class="btn btn-link">Forgot password?</a>
          </div>
          <div class="col-xs-6 text-xs-right">
            <button type="submit" class="btn btn-success btn-lg">Login</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
