<div class="row">
  <div class="col-xs-8">
    {{#if blogPosts}}
      {{#each blogPosts as |blogPost|}}
        <div class="card card-block">
          <h3><a href="/{{blogPost.slug}}">{{blogPost.title}}</a></h3>
          {{{blogPost.content}}}
        </div>
      {{/each}}
    {{else}}
      <div class="card card-block">
        <p>
          No blog posts found
        </p>
      </div>
    {{/if}}
  </div>

  <div class="col-xs-4">
    <div class="card card-block">
      <h6>Sidebar</h6>
    </div>
  </div>
</div>
