<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="/css/{{ assets "application.css"}}" />
    <title>NYCDA Blog Application</title>
  </head>

  <body>
    <nav class="navbar navbar-light bg-faded">
      <a class="navbar-brand" href="/">Izel Nakri | Blog</a>

      {{#if user}}
        <div class="nav navbar-nav float-xs-right">
          <a class="nav-item nav-link active" href="/admin/posts">Admin Panel</a>
          <a class="nav-item nav-link active" href="/admin/posts/new">Add Blog Post</a>
          <a class="nav-item nav-link active" href="/logout">LOGOUT</a>
        </div>
      {{/if}}
    </nav>

    <section class="container">
      {{{body}}}
    </section>

    <script src="/js/{{ assets "vendor.js"}}"></script>
    <script src="/js/{{ assets "application.js"}}"></script>
  </body>
</html>
