{{#if blogPosts}}
  {{#each blogPosts as |blogPost|}}
    <div class="card card-block">
      <div class="row">
        <div class="col-xs-8">
          <h2>{{blogPost.title}}</h2>
        </div>
        <div class="col-xs-2 text-xs-right">
          <a href="/admin/posts/{{blogPost.id}}/edit" class="btn btn-warning">Edit Post</a>
        </div>
        <div class="col-xs-2 text-xs-right">
          <form action="/admin/posts/{{blogPost.id}}" method="POST">
            <input type="hidden" name="_method" value="DELETE" />
            <button type="submit" class="btn btn-danger">Remove Post</button>
          </form>
        </div>
      </div>
    </div>
  {{/each}}
{{else}}
  <div class="card card-block">
    <p>
      No blog posts yet.
    </p>
  </div>
{{/if}}
